
/* Для 6-ти иконных */
.card-pricing {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-pricing .prices {
    display: flex;
    flex-direction: column;
}

.card-img-sale {
    width: 100%;
    height: 72.44%;
    background-color: black;
    border-radius: 0.486vw;
}

.discount {
    background: rgba(123, 199, 77, 1);
    font-family: Roboto;
    font-weight: 400;
    font-size: 1.111vw;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    padding: 0.208vw 0.486vw;
    border-radius: 1.389vw;
}

.old-price {
    color: rgba(238, 238, 238, 0.7);
    font-family: Roboto;
    font-weight: 600;
    font-size: 1.1vw;
    text-decoration: line-through;
    text-align: right;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
}

.new-price {
    color: white;
    font-family: Roboto;
    font-size: 0.972vw;
    font-weight: 600;
    text-align: right;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
}

/* Для 6-ти иконных */


/* Для 3-ех иконных */

.con-deals {
    width: 79.167vw;
    height: 23.473vw;

    display: flex;
    position: relative;
    justify-content: space-between;
}

.con-deals div {
    width: 25.625vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.con-deals .img-deal {
    height: 100%;
    background-color: black;
    border-radius: 0.694vw;
}

.con-deals .img-inscription {
    width: 100%;
    height: 61.246%;
    display: flex;
    position: relative;
}

.img-inscription .inscription {
    display: flex;
    position: absolute;
    bottom: 0;

    background: linear-gradient(90deg, #7BC74D 0%, #A4C092 100%);

    border-bottom-right-radius: 0.694vw;
    border-bottom-left-radius: 0.694vw;
    padding: 0.5vw;

    color: rgb(255, 255, 255, 0.8);
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    font-size: 1.25vw;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;

}

.con-deals .name-deal {
    color: white;
    font-family: Roboto;
    font-weight: 700;
    font-size: 1.389vw;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
}

.con-deals .prices-sale {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: unset;
    gap: 1vw;
}

.con-deals .discount-deal {
    width: auto;
    background: rgba(123, 199, 77, 1);
    font-family: Roboto;
    font-weight: 400;
    font-size: 1.111vw;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    padding: 0.208vw 0.486vw;
    border-radius: 1.389vw;
}

.con-deals .old-price-deal {
    width: auto;
    color: rgba(238, 238, 238, 0.7);
    font-family: Roboto;
    font-weight: 600;
    font-size: 1.111vw;
    text-decoration: line-through;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
}

.con-deals .new-price-deal {
    width: auto;
    color: white;
    font-family: Roboto;
    font-size: 1.111vw;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
}

/* Для 3-ех иконных */