.category-list {
    width: 79.167vw;
    height: 52.848vw;

    display: flex;
    position: relative;
    justify-content: space-between;
    flex-wrap: row;
}

.category-list hr {
    border: 2px solid rgb(69, 75, 85);
}

.list-cart {
    width: 24.444vw;

    display: flex;
    position: relative;
    justify-content: space-between;
    flex-direction: column;
}

.list-cart .list-title {
    color: white;
    font-family: Roboto;
    font-weight: 900;
    font-size: 1.389vw;
    line-height: 100%;
    letter-spacing: 0%;
}

.list-cart .list {
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 0.5vw;
}

.cart {
    height: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.cart .cart-price-name {
    width: 14.583vw;
    display: flex;
    
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.4vw;
}

.cart-img {
    width: 6.528vw;
    height: 95%;
    border-radius: 0.486vw;
    background-color: black;
}

.cart-name {
    color: white;
    font-family: Roboto;
    font-weight: 900;
    font-size: 1.25vw;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;    
}

.cart-price {
    color: white;
    font-family: Roboto;
    font-weight: 600;
    font-size: 1.111vw;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: middle;
}