.head {
    width: 100%;
    height: 4.375vw;
    display: flex;
    align-items: center;
    position: relative;

    background: linear-gradient(90deg,
        rgba(55, 60, 67, 1),
        rgba(37, 40, 45, 0.5)
    );
}

.path {
    display: flex;
    align-items: center;
    width: 38.889vw;
    height: 61.905%;
    top: 19.048vh;
    left: 12.083vw;
    gap: 2.847vw;
}

.nav {
    list-style-type: none;
    width: 16.5vw;
    height: 1.9%;
    gap: 2.431vw;
}

.li {
    /* text */
    cursor: pointer;
    font-family: Roboto;
    font-weight: 400;
    font-size: 1.111vw;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
}

.li.active {
    color: rgba(123, 199, 77, 1);
}

/* Поиск */
.path input {
    width: 20.070vw;
    height: 2.709vw;
    border-radius: 1.389vw;
    padding-top: 0.694vw;
    padding-right: 0.833vw;
    padding-bottom: 0.694vw;
    padding-left: 2.833vw;
    gap: 0.694vw;
    
    background: rgba(57, 62, 70, 1);
    border: none;
    color: rgba(238, 238, 238, 0.75);

    
    /* text */
    font-family: Roboto;
    font-weight: 400;
    font-size: 1.111vw;
}

.path input:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.path div {
    display: flex;
    position: relative;
    width: 20.070vw;
    height: 2.709vw;
}

/* Иконка поиска */

.path div i {
    position: absolute;
    color: rgba(238, 238, 238, 0.75);
    pointer-events: none;

    font-size: 0.781vw;
    width: 0.781vw;
    height: 17.857%;
    top: 26.584%;
    left: 5%;
}

/* logo */

.logo {
    width: 7.709vw;
    height: 44.45%;
    top: 28.571vh;
    left: 1.736vw;
    margin: 0px 1.389vw 0px 1.389vw;
    color: white;

    /* text */
    font-family: Roboto;
    font-weight: 700;
    font-size: 1.667vw;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

/* Регистрация и скачивание */

.reg {
    display: flex;
    position: absolute;
    align-items: center;
    width: 24.306vw;
    height: 61.905%;
    left: 74.444%;
    gap: 1.181vw;
}

.reg i {
    display: flex;
    color: white;
    font-size: 1.25vw;
}

/* Кнопки */

.sign_in {
    width: 5vw;
    height: 2.709vw;
    gap: 0.569vw;
    border-radius: 0.285vw;
    padding: 0.1vw;

    background: rgba(57, 62, 70, 1);
    border: none;
    color: white;

    font-family: Inter;
    font-weight: 500;
    font-size: 1.111vw;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

    background: linear-gradient(30deg, rgb(64, 72, 80), rgba(57, 62, 70, 1));
    background-size: 200% 100%;
    transition: background-position 0.5s;
}

.sign_in:hover {
    background-position: 100% 0;
}

.download {
    width: 6.736vw;
    height: 2.709vw;
    gap: 0.569vw;
    border-radius: 0.285vw;
    padding: 0.6vw;

    background: rgba(123, 199, 77, 1);
    color: rgba(34, 40, 49, 1);
    border: none;

    font-family: Inter;
    font-weight: 500;
    font-size: 1.111vw;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    
}

.reg i {
    cursor: pointer;
}

.reg i.active {
    color: rgba(123, 199, 77, 1);
}