.block-wishlist {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    gap: 2.5vw;
}

.block-wishlist > div:first-child {
    margin-top: 2.5vw;
}

.block-wishlist > div:last-child {
    margin-bottom: 25vw;
}

.name-sum {
    width: 79.167vw;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.title-wishlist {
    font-family: Roboto;
    font-weight: 900;
    font-size: 3.333vw;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: bottom;
    color: white;
}

.sum-price {
    display: flex;
    position: relative;
    align-items: center;

    height: 2.2vw;

    font-family: Roboto;
    font-weight: 900;
    font-size: 1.111vw;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: middle;
    color: white;
    padding: 0.5vw 1vw 0.5vw 1vw;

    border: 0.069vw solid white;

    border-radius: 1.389vw;
}

.block-notification {
    width: 79.167vw;
    height: 3.819vw;

    background: rgba(57, 62, 70, 1);
    display: flex;
    position: relative;

    border-radius: 0.486vw;
}

.left-part {
    display: flex;

    font-family: Roboto;
    font-weight: 500;
    font-size: 1.473vw;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    
    color: white;
    background: rgba(123, 199, 77, 1);

    border-radius: 0.486vw 0 0 0.486vw;
    height: 100%;
    width: 1.25vw;

}

.main-content-notification {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 1vw;
}

.icon-text {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.text-notification {
    font-family: Roboto;
    font-weight: 500;
    font-size: 0.972vw;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

    color: white;
}

.icon-text i {
    font-size: 1.25vw;

    color: rgba(123, 199, 77, 1);
}

.toggle-switch {
    width: 4.653vw;
    height: 2.014vw;
    border-radius: 1.042vw;
    background:rgba(34, 40, 49, 1);

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
}
  
.toggle-switch.on {
    background-color: rgba(123, 199, 77, 1);
}
  
.toggle-thumb {
    width: 1.563vw;
    height: 1.563vw;
    background-color: rgba(96, 105, 118, 1);

    border-radius: 50%;
    position: absolute;
    left: 0.2vw;
    transition: left 0.3s ease;
}
  
.toggle-switch.on .toggle-thumb {
    left: 2.85vw;
}
  
.toggle-label {
    font-family: Inter;
    font-weight: 400;
    font-size: 0.62vw;
    line-height: 100%;
    letter-spacing: 0%;
    margin-left: 1vw;
    text-align: center;

    color: rgba(64, 70, 79, 1);

    transition: color 0.3s ease;
}

.toggle-switch.on .toggle-label {
    margin-left: 0;
    margin-right: 1vw;
}

.block-sort {
    display: flex;
    position: relative;
    gap: 1vw;
    width: 79.167vw;
}

.text-sort {
    font-family: Roboto;
    font-weight: 400;
    font-size: 1.111vw;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;

    color: rgba(255, 255, 255, 0.6);
}

.list-by {
    display: flex;
    gap: 0.5vw;
    font-family: Roboto;
    font-weight: 400;
    font-size: 1.111vw;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgba(255, 255, 255, 0.8);
}

.blocks-game {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    gap: 1vw;
    width: 79.167vw;
}

.block-game {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    height: 13.889vw;
    border-radius: 0.486vw;
    padding: 1vw;
    background: rgba(57, 62, 70, 1);
}

/* left part */
.block-game-left-part {
    display: flex;
    position: relative;
    gap: 1vw;
}

.game-img {
    height: 100%;
    width: 8.681vw;
    border-radius: 0.486vw;
    background-color: black;
}

.left-part-text {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    width: 17.708vw;
}

.category-game {
    border-radius: 0.285vw;
    max-width: max-content;
    display: flex;
    padding: 0.5vw;

    background: rgba(78, 85, 95, 1);
    color: rgba(255, 255, 255, 0.8);

    font-family: Roboto;
    font-weight: 400;
    font-size: 0.833vw;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
}

.name-game {
    font-family: Roboto;
    font-weight: 900;
    font-size: 1.667vw;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;

    color: white;
}

.block-date-com {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 1vw;

    font-family: Roboto;
    font-weight: 400;
    font-size: 1.111vw;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    
    color: rgba(255, 255, 255, 0.7);
}

.block-flex-date-com {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.icons-left-part {
    color: white;
    font-size: 1.229vw;
    display: flex;
    gap: 0.5vw;
}
/* left part */

.block-game-right-part {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.cost-game {
    font-family: Roboto;
    font-weight: 900;
    font-size: 1.111vw;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: middle;

    color: white;
}


.remove-button-add {
    display: flex;
    position: relative;
    align-items: center;
    gap: 1vw;
}

.remove {
    font-family: Inter;
    padding: 0.75vw;
    font-weight: 500;
    font-size: 1.111vw;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
    transition: transform 0.1s, filter 0.2s, color 0.2s;

    color: rgba(255, 255, 255, 0.7);
}

.remove:active {
    transform: scale(0.97);
    filter: brightness(0.9);
}

.remove:hover {
    filter: brightness(0.8);
}

.button-add-cart {
    background: linear-gradient(30deg, rgba(123, 199, 77, 1), rgb(92, 153, 54));
    background-size: 200% 100%;
    transition: background-position 0.5s, transform 0.1s, filter 0.1s;

    color: rgba(34, 40, 49, 1) !important;

    font-family: Inter;
    font-weight: 500;
    font-size: 1.111vw;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

    border: none;
    outline: none;

    border-radius: 0.486vw;

    padding: 0.75vw 0.75vw 0.75vw 0.75vw;
}
/* right part */